{% extends "base.html" %}

{% block content %}
<div align="center" style="margin-bottom: 40px;">
    <h1>Оставить отзыв</h1>
</div>
<div align="center">
    <form action="/products" method="post">
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][0]['article'] }}</h4>
            <input type="number" id="ware_1" value="0" name="ware_1" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][1]['article'] }}</h4>
            <input type="number" id="ware_2" value="0" name="ware_2" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][2]['article'] }}</h4>
            <input type="number" id="ware_3" value="0" name="ware_3" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][3]['article'] }}</h4>
            <input type="number" id="ware_4" value="0" name="ware_4" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][4]['article'] }}</h4>
            <input type="number" id="ware_5" value="0" name="ware_5" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][5]['article'] }}</h4>
            <input type="number" id="ware_6" value="0" name="ware_6" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][6]['article'] }}</h4>
            <input type="number" id="ware_7" value="0" name="ware_7" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][7]['article'] }}</h4>
            <input type="number" id="ware_8" value="0" name="ware_8" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][8]['article'] }}</h4>
            <input type="number" id="ware_9" value="0" name="ware_9" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][9]['article'] }}</h4>
            <input type="number" id="ware_10" value="0" name="ware_10" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][10]['article'] }}</h4>
            <input type="number" id="ware_11" value="0" name="ware_11" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][11]['article'] }}</h4>
            <input type="number" id="ware_12" value="0" name="ware_12" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][12]['article'] }}</h4>
            <input type="number" id="ware_13" value="0" name="ware_13" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][13]['article'] }}</h4>
            <input type="number" id="ware_14" value="0" name="ware_14" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][14]['article'] }}</h4>
            <input type="number" id="ware_15" value="0" name="ware_15" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][15]['article'] }}</h4>
            <input type="number" id="ware_16" value="0" name="ware_16" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][16]['article'] }}</h4>
            <input type="number" id="ware_17" value="0" name="ware_17" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][17]['article'] }}</h4>
            <input type="number" id="ware_18" value="0" name="ware_18" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][18]['article'] }}</h4>
            <input type="number" id="ware_19" value="0" name="ware_19" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][19]['article'] }}</h4>
            <input type="number" id="ware_20" value="0" name="ware_20" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][20]['article'] }}</h4>
            <input type="number" id="ware_21" value="0" name="ware_21" min="0" max="10">
        </div>
        <div style="margin-bottom: 20px;">
            <h4>{{ userful_information['product_time'][21]['article'] }}</h4>
            <input type="number" id="ware_22" value="0" name="ware_22" min="0" max="10">
        </div>

        <button class="btn danger" type="submit">Отправить отзыв</button>
    </form>
</div>
{% endblock %}