{% extends "base.html" %}

{% block content %}

<div align="center">
    <h1>Продуктовая корзина</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Товар</th>
      <th scope="col">Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{ data['product'][0]['article'] }}</td>
        {% if product_1 > data['product'][0]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_1 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_1 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][1]['article'] }}</td>
        {% if product_2 > data['product'][1]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_2 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_2 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][2]['article'] }}</td>
        {% if product_3 > data['product'][2]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_3 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_3 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][3]['article'] }}</td>
        {% if product_4 > data['product'][3]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_4 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_4 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][4]['article'] }}</td>
        {% if product_5 > data['product'][4]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_5 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_5 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][5]['article'] }}</td>
        {% if product_6 > data['product'][5]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_6 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_6 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][6]['article'] }}</td>
        {% if product_7 > data['product'][6]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_7 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_7 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][7]['article'] }}</td>
        {% if product_8 > data['product'][7]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_8 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_8 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][8]['article'] }}</td>
        {% if product_9 > data['product'][8]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_9 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_9 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][9]['article'] }}</td>
        {% if product_10 > data['product'][9]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_10 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_10 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][10]['article'] }}</td>
        {% if product_11 > data['product'][10]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_11 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_11 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][11]['article'] }}</td>
        {% if product_12 > data['product'][11]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_12 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_12 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][12]['article'] }}</td>
        {% if product_13 > data['product'][12]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_13 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_13 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][13]['article'] }}</td>
        {% if product_14 > data['product'][13]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_14 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_14 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][14]['article'] }}</td>
        {% if product_15 > data['product'][14]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_15 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_15 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][15]['article'] }}</td>
        {% if product_16 > data['product'][15]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_16 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_16 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][16]['article'] }}</td>
        {% if product_17 > data['product'][16]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_17 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_17 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][17]['article'] }}</td>
        {% if product_18 > data['product'][17]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_18 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_18 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][18]['article'] }}</td>
        {% if product_19 > data['product'][18]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_19 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_19 }}</td>
        {% endif %}
    </tr>
  <tr>
        <td>{{ data['product'][19]['article'] }}</td>
        {% if product_20 > data['product'][19]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_20 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_20 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][20]['article'] }}</td>
        {% if product_21 > data['product'][20]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_21 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_21 }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ data['product'][21]['article'] }}</td>
        {% if product_22 > data['product'][21]['quantity'] %}
            <td>Такого количества нет на складе</td>
        {% elif product_22 < 0 %}
            <td>Невозможное количество товара</td>
        {% else %}
            <td>{{ product_22 }}</td>
        {% endif %}
    </tr>
  </tbody>
</table>
{% endblock %}